<p>
  <b>Theanswer:</b>
  <%=h @threesixtytexta.theanswer %>
</p>

<p>
  <b>User:</b>
  <%=h @threesixtytexta.user %>
</p>

<p>
  <b>Threesixtytextq:</b>
  <%=h @threesixtytexta.threesixtytextq %>
</p>


<%= link_to 'Edit', edit_threesixtytexta_path(@threesixtytexta) %> |
<%= link_to 'Back', threesixtytextas_path %>