<h2>Forums</h2>
  
<table>  
  <tr>  
    <th width="70%">Forum</th>  
    <th width="30%">Last Post</th>  
  </tr>  
  <% for forum in @forums %>  
    <tr>  
      <td><h4><%= link_to h(forum.name), forum_path(forum.id) %></h4>  
        <small><%= forum.topics.count %> topics</small><br />  
        <%=h forum.description %></td>  
      <% if current_user.has_role?("admin") %><td><%= link_to "Edit", edit_forum_path(forum) %></td><% end %>
      <% if current_user.has_role?("admin") %><td><%= link_to "Destroy", forum, :confirm => 'Are you sure?', :method => :delete %></td><% end %>  
    </tr>  
  <% end %>  
</table>  
  
<p><% if current_user.has_role?("admin") %><%= link_to "New Forum", new_forum_path %><% end %></p>