<p>
  <b>Theanswer:</b>
  <%=h @textanswer.theanswer %>
</p>

<p>
  <b>User:</b>
  <%=h @textanswer.user %>
</p>

<p>
  <b>Textquestion:</b>
  <%=h @textanswer.textquestion %>
</p>


<%= link_to 'Edit', edit_textanswer_path(@textanswer) %> |
<%= link_to 'Back', textanswers_path %>