<h1>New threesixty_textq</h1>

<% form_for(@threesixty_textq) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question_text %><br />
    <%= f.text_area :question_text %>
  </p>
  <p>
    <%= f.label :question_comment %><br />
    <%= f.text_field :question_comment %>
  </p>
  <p>
    <%= f.label :threesixty %><br />
    <%= f.text_field :threesixty %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', threesixty_textqs_path %>