<p>
  <b>Question text:</b>
  <%=h @threesixty_textq.question_text %>
</p>

<p>
  <b>Question comment:</b>
  <%=h @threesixty_textq.question_comment %>
</p>

<p>
  <b>Threesixty:</b>
  <%=h @threesixty_textq.threesixty %>
</p>


<%= link_to 'Edit', edit_threesixty_textq_path(@threesixty_textq) %> |
<%= link_to 'Back', threesixty_textqs_path %>