<p>
  <b>Theanswer 1:</b>
  <%=h @mcanswer.theanswer_1 %>
</p>

<p>
  <b>Theanswer 2:</b>
  <%=h @mcanswer.theanswer_2 %>
</p>

<p>
  <b>Theanswer 3:</b>
  <%=h @mcanswer.theanswer_3 %>
</p>

<p>
  <b>Theanswer 4:</b>
  <%=h @mcanswer.theanswer_4 %>
</p>

<p>
  <b>Theanswer 5:</b>
  <%=h @mcanswer.theanswer_5 %>
</p>

<p>
  <b>User:</b>
  <%=h @mcanswer.user %>
</p>

<p>
  <b>Mcquestion:</b>
  <%=h @mcanswer.mcquestion %>
</p>


<%= link_to 'Edit', edit_mcanswer_path(@mcanswer) %> |
<%= link_to 'Back', mcanswers_path %>