<h1>Listing tsquestions</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question comment</th>
    <th>Survey</th>
  </tr>

<% @tsquestions.each do |tsquestion| %>
  <tr>
    <td><%=h tsquestion.question_text %></td>
    <td><%=h tsquestion.question_comment %></td>
    <td><%=h tsquestion.survey %></td>
    <td><%= link_to 'Show', tsquestion %></td>
    <td><%= link_to 'Edit', edit_tsquestion_path(tsquestion) %></td>
    <td><%= link_to 'Destroy', tsquestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tsquestion', new_tsquestion_path %>