<p>
  <b>Question text:</b>
  <%=h @tsquestion.question_text %>
</p>

<p>
  <b>Question comment:</b>
  <%=h @tsquestion.question_comment %>
</p>

<p>
  <b>Survey:</b>
  <%=h @tsquestion.survey %>
</p>


<%= link_to 'Edit', edit_tsquestion_path(@tsquestion) %> |
<%= link_to 'Back', tsquestions_path %>