<h1>Editing threesixtyanswer</h1>

<% form_for(@threesixtyanswer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :theanswer_1 %><br />
    <%= f.check_box :theanswer_1 %>
  </p>
  <p>
    <%= f.label :theanswer_2 %><br />
    <%= f.check_box :theanswer_2 %>
  </p>
  <p>
    <%= f.label :theanswer_3 %><br />
    <%= f.check_box :theanswer_3 %>
  </p>
  <p>
    <%= f.label :theanswer_4 %><br />
    <%= f.check_box :theanswer_4 %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :threesixtyq %><br />
    <%= f.text_field :threesixtyq %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @threesixtyanswer %> |
<%= link_to 'Back', threesixtyanswers_path %>