<p>
  <b>Theanswer 1:</b>
  <%=h @threesixtyanswer.theanswer_1 %>
</p>

<p>
  <b>Theanswer 2:</b>
  <%=h @threesixtyanswer.theanswer_2 %>
</p>

<p>
  <b>Theanswer 3:</b>
  <%=h @threesixtyanswer.theanswer_3 %>
</p>

<p>
  <b>Theanswer 4:</b>
  <%=h @threesixtyanswer.theanswer_4 %>
</p>

<p>
  <b>User:</b>
  <%=h @threesixtyanswer.user %>
</p>

<p>
  <b>Threesixtyq:</b>
  <%=h @threesixtyanswer.threesixtyq %>
</p>


<%= link_to 'Edit', edit_threesixtyanswer_path(@threesixtyanswer) %> |
<%= link_to 'Back', threesixtyanswers_path %>