<h1>Listing threesixtyqs</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question comment</th>
    <th>Answer 1</th>
    <th>Answer 2</th>
    <th>Answer 3</th>
    <th>Answer 4</th>
    <th>Threesixty</th>
  </tr>

<% @threesixtyqs.each do |threesixtyq| %>
  <tr>
    <td><%=h threesixtyq.question_text %></td>
    <td><%=h threesixtyq.question_comment %></td>
    <td><%=h threesixtyq.answer_1 %></td>
    <td><%=h threesixtyq.answer_2 %></td>
    <td><%=h threesixtyq.answer_3 %></td>
    <td><%=h threesixtyq.answer_4 %></td>
    <td><%=h threesixtyq.threesixty %></td>
    <td><%= link_to 'Show', threesixtyq %></td>
    <td><%= link_to 'Edit', edit_threesixtyq_path(threesixtyq) %></td>
    <td><%= link_to 'Destroy', threesixtyq, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New threesixtyq', new_threesixtyq_path %>