<h1>New threesixtyq</h1>

<% form_for(@threesixtyq) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question_text %><br />
    <%= f.text_area :question_text %>
  </p>
  <p>
    <%= f.label :question_comment %><br />
    <%= f.text_area :question_comment %>
  </p>
  <p>
    <%= f.label :answer_1 %><br />
    <%= f.text_area :answer_1 %>
  </p>
  <p>
    <%= f.label :answer_2 %><br />
    <%= f.text_area :answer_2 %>
  </p>
  <p>
    <%= f.label :answer_3 %><br />
    <%= f.text_area :answer_3 %>
  </p>
  <p>
    <%= f.label :answer_4 %><br />
    <%= f.text_area :answer_4 %>
  </p>
  <p>
    <%= f.label :threesixty %><br />
    <%= f.text_field :threesixty %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', threesixtyqs_path %>