<p>
  <b>Question text:</b>
  <%=h @threesixtyq.question_text %>
</p>

<p>
  <b>Question comment:</b>
  <%=h @threesixtyq.question_comment %>
</p>

<p>
  <b>Answer 1:</b>
  <%=h @threesixtyq.answer_1 %>
</p>

<p>
  <b>Answer 2:</b>
  <%=h @threesixtyq.answer_2 %>
</p>

<p>
  <b>Answer 3:</b>
  <%=h @threesixtyq.answer_3 %>
</p>

<p>
  <b>Answer 4:</b>
  <%=h @threesixtyq.answer_4 %>
</p>

<p>
  <b>Threesixty:</b>
  <%=h @threesixtyq.threesixty %>
</p>


<%= link_to 'Edit', edit_threesixtyq_path(@threesixtyq) %> |
<%= link_to 'Back', threesixtyqs_path %>