<h1>Listing tsanswers</h1>

<table>
  <tr>
    <th>Theanswer</th>
    <th>User</th>
    <th>Tsquestion</th>
  </tr>

<% @tsanswers.each do |tsanswer| %>
  <tr>
    <td><%=h tsanswer.theanswer %></td>
    <td><%=h tsanswer.user %></td>
    <td><%=h tsanswer.tsquestion %></td>
    <td><%= link_to 'Show', tsanswer %></td>
    <td><%= link_to 'Edit', edit_tsanswer_path(tsanswer) %></td>
    <td><%= link_to 'Destroy', tsanswer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tsanswer', new_tsanswer_path %>