<h1>Editing 360 Feedback Form</h1>

You can edit this 360 Feedback Form's content and questions after you click 'Update and Continue'

<% form_for(@threesixty) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :threesixty_name %><br />
    <%= f.text_field :threesixty_name %>
  </p>
  <p>
    <%= f.label :threesixty_date %><br />
    <%= f.date_select :threesixty_date %>
  </p>
  <p>
    <%= f.submit 'Update and Continue' %>
  </p>
<% end %>

<%= link_to 'Show', @threesixty %> |
<%= link_to 'Back', threesixties_path %>