<h1>List of 360 Feedback</h1>
<hr>


<h1>360 Feedback you can Fill Out</h1>	
<hr>
<table>
  <tr>
    <th>Name</th>
    <th>Due Date</th>
  </tr>
<% @threesixties.each do |t| %>
	<% if Userthreesixty.exists?({:user_id => @user.id, :threesixty_id => t.id})%>
	  <tr>
	    <td><%=h t.threesixty_name %></td>
	    <td><%=h t.threesixty_date %></td>
		<td><%= button_to 'Take', :action => 'take', :id => t%></td>
	  </tr>
	<% end %>
<% end %>
</table>
<br />
<% if current_user.has_role?("admin")%>
	<h1>360 Feedback you have Created</h1>	
	<hr>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Due Date</th>
	    <th>Creator</th>
	  </tr>
	<% @threesixties.each do |t| %>
		<% if t.threesixty_creator.to_s == @user.id.to_s %>
			  <tr>
			    <td><%=h t.threesixty_name %></td>
			    <td><%=h t.threesixty_date %></td>
			    <td><%=h User.find(t.threesixty_creator).name %></td>
				<td><%= link_to 'Edit', edit_threesixty_path(t) %></td>
				<td><%= link_to 'Administer', :action => 'administer', :id => t %></td>
				<td><%= link_to 'Results', :action => 'results', :id => t %></td>
			    <td><%= link_to 'Delete', t, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
		<% end %>
	<% end %>
	</table>
	<br />
	
	<%= button_to 'New 360 Feedback', new_threesixty_path %>
<% end %>



<br />