<h1>New threesixty</h1>


<% form_for(@threesixty) do |f| %>
  <%= f.error_messages %>

  <p>
    360 Feedback Name<br />
    <%= f.text_field :threesixty_name %>
  </p>

  <p>
    Creation Date<br />
    <%= f.date_select :threesixty_date %>
  </p>
  
  <p>
  	<%= f.hidden_field("threesixty_creator", :value => @user.id)%>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p> 
	You can add questions to this 360 Feedback Form after it has been created.
</p>

<%= link_to 'Back', threesixties_path %>