<h2>
	Cumulative 360 Feedback Results for: <br />
	<i><%= @threesixty.threesixty_name %></i>
</h2>

<p>
	At the top of this page you will find statistics for the multiple choice
	questions on the threesixty.  Past this information, towards the bottom, you
	can view the individual answers for each person the threesixty was administered
	to.
</p>
<br />

<% @counter = 0 %>
<h1>360 Scale Feedback Question Statistics</h1>
<hr>
<table>
		<tr>
			<th>Question Number</th>
			<th>Question Text</th>
			<th>Most Common Answer</th>
			<th>Average Answer</th>
		</tr>
		
<% @threesixty.threesixtyqs.each do |t|%>
	<% t.threesixtyanswers.each do |a| %>
		
		<% @counter1 = 0 %>
		<% @counter2 = 0 %>
		<% @counter3 = 0 %>
		<% @counter4 = 0 %>
		<% @showanswer = Threesixtyanswer.find(:last, :conditions => {:threesixtyq_id => t.id})%>
		<% if @showanswer.theanswer_1%>
			<p>
			  <% @counter1 += 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_2%>
			<p>
			  <% @counter2+= 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_3%>
			<p>
			  <% @counter3 += 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_4%>
			<p>
			  <% @counter4 += 1 %>
			</p>
		<% end %>
		
		
		<% @average = ((@counter2 * 1) + (@counter3 * 2) + (@counter4 * 3)) / (@counter1 + @counter2 + @counter3 + @counter4)%>
			

	<% end %>
	<% @answerarray = Array.[](@counter1, @counter2, @counter3, @counter4)%>
	<% @sortedarray = @answerarray.sort %>
	
		<tr>
			<td><%=  @counter += 1%></td>
			<td><%= t.question_text%></td>
			<td>
				<% if @sortedarray.fetch(3) == @counter1 %>
					<%= t.answer_1  %>
				<% elsif @sortedarray.fetch(3) == @counter2 %>
					<%= t.answer_2 %>
				<% elsif @sortedarray.fetch(3) == @counter3 %>
					<%= t.answer_3 %>
				<% elsif @sortedarray.fetch(3) == @counter4 %>
					<%= t.answer_4 %>
				<% end %>
			</td>
			<td><%= @average %></td>
		</tr>
<% end %>
</table>

<br />

<h1>Individual Results</h1>
<hr>
<table>
	<tr>
	    <th>threesixty Taker</th>
		<th>threesixty Status*</th>
	    <th>View Individual Results</th>
	</tr>
	<% @threesixty.userthreesixties.each do |t| %>
	<tr>
  		<td><%= User.find(t.user_id.to_int).name %></td>
		<td>
			<% if t.taken %>
				Completed
			<% else %>
				Incomplete
			<% end %>
		</td>
		<td><%= button_to "View", "/userthreesixties/results/" + t.id.to_s %></td>
  	</tr>
	
<% end %>
</table>
<p>
	*Complete means the threesixty has been filled out and submitted by the user.
	Incomplete means the threesixty has not yet been filled out by the user.
</p>
<p>
	
</p>

<p>
	<%= button_to 'Back to List of 360 Feedback', "/threesixties/index"%>
</p>
