<h1>Listing threesixty_qs</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question comment</th>
    <th>Answer 1</th>
    <th>Answer 2</th>
    <th>Answer 3</th>
    <th>Answer 4</th>
    <th>Threesixty</th>
  </tr>

<% @threesixty_qs.each do |threesixty_q| %>
  <tr>
    <td><%=h threesixty_q.question_text %></td>
    <td><%=h threesixty_q.question_comment %></td>
    <td><%=h threesixty_q.answer_1 %></td>
    <td><%=h threesixty_q.answer_2 %></td>
    <td><%=h threesixty_q.answer_3 %></td>
    <td><%=h threesixty_q.answer_4 %></td>
    <td><%=h threesixty_q.threesixty %></td>
    <td><%= link_to 'Show', threesixty_q %></td>
    <td><%= link_to 'Edit', edit_threesixty_q_path(threesixty_q) %></td>
    <td><%= link_to 'Destroy', threesixty_q, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New threesixty_q', new_threesixty_q_path %>