<p>
  <b>Question text:</b>
  <%=h @threesixty_q.question_text %>
</p>

<p>
  <b>Question comment:</b>
  <%=h @threesixty_q.question_comment %>
</p>

<p>
  <b>Answer 1:</b>
  <%=h @threesixty_q.answer_1 %>
</p>

<p>
  <b>Answer 2:</b>
  <%=h @threesixty_q.answer_2 %>
</p>

<p>
  <b>Answer 3:</b>
  <%=h @threesixty_q.answer_3 %>
</p>

<p>
  <b>Answer 4:</b>
  <%=h @threesixty_q.answer_4 %>
</p>

<p>
  <b>Threesixty:</b>
  <%=h @threesixty_q.threesixty %>
</p>


<%= link_to 'Edit', edit_threesixty_q_path(@threesixty_q) %> |
<%= link_to 'Back', threesixty_qs_path %>