<h1>Listing textquestions</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question comment</th>
    <th>Question type</th>
    <th>Survey</th>
  </tr>

<% @textquestions.each do |textquestion| %>
  <tr>
    <td><%=h textquestion.question_text %></td>
    <td><%=h textquestion.question_comment %></td>
    <td><%=h textquestion.question_type %></td>
    <td><%=h textquestion.survey %></td>
    <td><%= link_to 'Show', textquestion %></td>
    <td><%= link_to 'Edit', edit_textquestion_path(textquestion) %></td>
    <td><%= link_to 'Destroy', textquestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New textquestion', new_textquestion_path %>