<h1>Editing survey</h1>

You can edit this survey's content and questions after you click 'Update and Continue'

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :survey_name %><br />
    <%= f.text_field :survey_name %>
  </p>
  <p>
    <%= f.label :survey_date %><br />
    <%= f.date_select :survey_date %>
  </p>
  <p>
    <%= f.submit 'Update and Continue' %>
  </p>
<% end %>

<%= link_to 'Back', @survey %>