<h1>List of Surveys</h1>

<table>
  <tr>
    <th>Survey name</th>
    <th>Survey date</th>
    <th>Survey creator</th>
  </tr>
<% @surveys.each do |survey| %>
  <tr>
    <td><%=h survey.survey_name %></td>
    <td><%=h survey.survey_date %></td>
    <td><%=h survey.survey_creator %></td>
	<td><%= link_to 'Take', :action => 'take', :id => survey%> | </td>
    <td><%= link_to 'Design', survey %> | </td>
    <td><%= link_to 'Edit Details', edit_survey_path(survey) %> | </td>
    <td><%= link_to 'Delete', survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New survey', new_survey_path %>


<br />