<h2>Surveys</h2>
<hr>

<body>
	<h1>Surveys for you to Take</h1>	
	<hr>
	<table>
	  <tr>
	    <th>Survey name</th>
	    <th>Survey date</th>
	    <th>Survey creator</th>
	  </tr>
	<% @surveys.each do |survey| %>
		<% if Usersurvey.exists?({:user_id => @user.id, :survey_id => survey.id})%>
		  <tr>
		    <td><%=h survey.survey_name %></td>
		    <td><%=h survey.survey_date %></td>
		    <td><%=h User.find(survey.survey_creator).name %></td>
			<td><%= button_to 'Take Survey', :action => 'take', :id => survey%> </td>
		  </tr>
		<% end %>
	<% end %>
	</table>
	
	
	<h1>Surveys you have Created</h1>
	<hr>
	<table>
	  <tr>
	    <th>Survey name</th>
	    <th>Survey date</th>
	    <th>Survey creator</th>
	  </tr>
	
	<% @surveys.each do |survey| %>
	  <% if survey.survey_creator.to_s == @user.id.to_s %>
		  <tr>
		    <td><%=h survey.survey_name %></td>
		    <td><%=h survey.survey_date %></td>
		    <td><%=h User.find(survey.survey_creator).name %></td>
			<td><%= link_to 'Edit', edit_survey_path(survey) %></td>
			<td><%= link_to 'Administer', :action => 'administer', :id => survey %></td>
			<td><%= link_to 'Results', :action => 'results', :id => survey %></td>
		    <td><%= link_to 'Delete', survey, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
	  <% end %>
	<% end %>
	</table>
	
	<br />
	
	<%= button_to 'New survey', new_survey_path %>
	
	<br />
</body>