<h2>
	Cumulative Survey Results for: <br />
	<i><%= @survey.survey_name %></i>
</h2>

<p>
	At the top of this page you will find statistics for the multiple choice
	questions on the survey.  Past this information, towards the bottom, you
	can view the individual answers for each person the survey was administered
	to.
</p>
<br />

<% @counter = 0 %>
<h1>Multiple Choice Question Statistics</h1>
<hr>
<table>
		<tr>
			<th>Question Number</th>
			<th>Question Text</th>
			<th>Most Common Answer</th>
		</tr>
		
<% @survey.mcquestions.each do |t|%>
	<% t.mcanswers.each do |a| %>
		
		<% @counter1 = 0 %>
		<% @counter2 = 0 %>
		<% @counter3 = 0 %>
		<% @counter4 = 0 %>
		<% @counter5 = 0 %>
		<% @showanswer = Mcanswer.find(:last, :conditions => {:mcquestion_id => t.id})%>
		<% if @showanswer.theanswer_1%>
			<p>
			  <% @counter1 += 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_2%>
			<p>
			  <% @counter2+= 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_3%>
			<p>
			  <% @counter3 += 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_4%>
			<p>
			  <% @counter4 += 1 %>
			</p>
		<% end %>
			
		<% if @showanswer.theanswer_5%>
			<p>
			  <%= @counter5 += 1 %>
			</p>
		<% end %>
	<% end %>
	<% @answerarray = Array.[](@counter1, @counter2, @counter3, @counter4, @counter5)%>
	<% @sortedarray = @answerarray.sort %>
	
		<tr>
			<td><%=  @counter += 1%></td>
			<td><%= t.question_text%></td>
			<td>
				<% if @sortedarray.fetch(4) == @counter1 %>
					<%= t.answer_1  %>
				<% elsif @sortedarray.fetch(4) == @counter2 %>
					<%= t.answer_2 %>
				<% elsif @sortedarray.fetch(4) == @counter3 %>
					<%= t.answer_3 %>
				<% elsif @sortedarray.fetch(4) == @counter4 %>
					<%= t.answer_4 %>
				<% elsif @sortedarray.fetch(4) == @counter5 %>
					<%= t.answer_5 %>
				<% end %>
			</td>
		</tr>
<% end %>
</table>

<br />

<h1>Individual Results</h1>
<% @takencount = 0%>
<% @totalcount = 0%>
<hr>
<table>
	<tr>
	    <th>Survey Taker</th>
		<th>Survey Status*</th>
	    <th>View Individual Results</th>
	</tr>
	<% @survey.usersurveys.each do |t| %>
	<% %>
	<tr>
  		<td><%= User.find(t.user_id.to_int).name %></td>
		<% @totalcount += 1 %>
		<td>
			<% if t.taken %>
				<% @takencount += 1 %>
				Completed
			<% else %>
				Incomplete
			<% end %>
		</td>
		<td><%= button_to "View", "/usersurveys/results/" + t.id.to_s %></td>
  	</tr>
	
<% end %>
</table>
<p>
	*Complete means the survey has been filled out and submitted by the user.
	Incomplete means the survey has not yet been filled out by the user.
</p>


<hr>
<br />

<h1>Survey Completion</h1>
<p>Survey results are available as soon as the user has taken them. Some survey results
may not be available at this time.  The following table shows you the
surveys still pending completion and the total amount of users the survey was
administered to.</p>
<hr>
<table>
	<tr>
		<th>Pending Surveys</th>
		<th>Total Surveys Administered</th>
	</tr>
	<tr>
		<td><%= @totalcount - @takencount %></td>
		<td><%= @totalcount %></td>
	</tr>
</table>

<hr>

<p>
	<%= button_to 'Back to List of Surveys', "/surveys/index"%>
</p>
