<h1>Listing userthreesixties</h1>

<table>
  <tr>

    <th>Taken</th>

    <th>User</th>

    <th>Threesixty</th>

  </tr>

<% @userthreesixties.each do |userthreesixty| %>
  <tr>

    <td><%=h userthreesixty.taken %></td>

    <td><%=h userthreesixty.user %></td>

    <td><%=h userthreesixty.threesixty %></td>

    <td><%= link_to 'Show', userthreesixty %></td>
    <td><%= link_to 'Edit', edit_userthreesixty_path(userthreesixty) %></td>
    <td><%= link_to 'Destroy', userthreesixty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New userthreesixty', new_userthreesixty_path %>