<h1>New userthreesixty</h1>

<% form_for(@userthreesixty) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :taken %><br />
    <%= f.check_box :taken %>
  </p>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :threesixty %><br />
    <%= f.text_field :threesixty %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', userthreesixties_path %>