
<p>
  <b>Taken:</b>
  <%=h @userthreesixty.taken %>
</p>


<p>
  <b>User:</b>
  <%=h @userthreesixty.user %>
</p>


<p>
  <b>Threesixty:</b>
  <%=h @userthreesixty.threesixty %>
</p>



<%= link_to 'Edit', edit_userthreesixty_path(@userthreesixty) %> |
<%= link_to 'Back', userthreesixties_path %>