<h1>Editing threesixtytextq</h1>

<% form_for(@threesixtytextq) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question_text %><br />
    <%= f.text_area :question_text %>
  </p>
  <p>
    <%= f.label :question_comment %><br />
    <%= f.text_area :question_comment %>
  </p>
  <p>
    <%= f.label :threesixty %><br />
    <%= f.text_field :threesixty %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => "threesixties", :action => @threesixtytextq.threesixty_id %>
