<h1>Listing mcquestions</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question comment</th>
    <th>Answer 1</th>
    <th>Answer 2</th>
    <th>Answer 3</th>
    <th>Answer 4</th>
    <th>Answer 5</th>
    <th>Multipleanswers</th>
    <th>Survey</th>
  </tr>

<% @mcquestions.each do |mcquestion| %>
  <tr>
    <td><%=h mcquestion.question_text %></td>
    <td><%=h mcquestion.question_comment %></td>
    <td><%=h mcquestion.answer_1 %></td>
    <td><%=h mcquestion.answer_2 %></td>
    <td><%=h mcquestion.answer_3 %></td>
    <td><%=h mcquestion.answer_4 %></td>
    <td><%=h mcquestion.answer_5 %></td>
    <td><%=h mcquestion.multipleanswers %></td>
    <td><%=h mcquestion.survey %></td>
    <td><%= link_to 'Show', mcquestion %></td>
    <td><%= link_to 'Edit', edit_mcquestion_path(mcquestion) %></td>
    <td><%= link_to 'Destroy', mcquestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mcquestion', new_mcquestion_path %>