<p>
  <b>Question text:</b>
  <%=h @mcquestion.question_text %>
</p>

<p>
  <b>Question comment:</b>
  <%=h @mcquestion.question_comment %>
</p>

<p>
  <b>Answer 1:</b>
  <%=h @mcquestion.answer_1 %>
</p>

<p>
  <b>Answer 2:</b>
  <%=h @mcquestion.answer_2 %>
</p>

<p>
  <b>Answer 3:</b>
  <%=h @mcquestion.answer_3 %>
</p>

<p>
  <b>Answer 4:</b>
  <%=h @mcquestion.answer_4 %>
</p>

<p>
  <b>Answer 5:</b>
  <%=h @mcquestion.answer_5 %>
</p>

<p>
  <b>Multipleanswers:</b>
  <%=h @mcquestion.multipleanswers %>
</p>

<p>
  <b>Survey:</b>
  <%=h @mcquestion.survey_id %>
</p>


<%= link_to 'Edit', edit_mcquestion_path(@mcquestion) %> |
<%= link_to 'Back', edit_mcquestion_path(@mcquestion) %>