<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%= stylesheet_link_tag "default" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Public Course Site</title>
<meta name="keywords" content="" />
<meta name="Everyday Series" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
<%= javascript_include_tag :defaults %>
  <%= ajaxful_rating_style %>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#"><span>The Mine:</span></a>public</h1>
	</div>
</div>
<!-- end header -->
<div id="wrapper">
	<!-- start page -->
	<div id="page">
	<div id="page-bg">
		<div id="sidebar1" class="sidebar">
			<ul>
				<li>
					<h2>Public Links</h2>
					<ul>
						<li><%= link_to 'Home', '/' %></li>
						<li><%= link_to 'Course Syllabus', :controller => 'home', :action => 'syllabus' %></li>
					</ul>
				</li>
				<li>
					<h2>External Links</h2>
					<ul>
						<li><a href="#"><%= link_to "Professor's Website", "http://bus01.bus.iastate.edu/" %></a></li>
					</ul>
				</li>
				<li>
					<h2>News and Alerts</h2>
						<%= render :partial => "posts/sideposts", :collection => @posts %>					
				</li>
			</ul>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<!-- start sidebars -->
		<div id="sidebar2" class="sidebar">
					<% if logged_in? %>
						<ul>
							<li>
								<h2>Private Links</h2>
									<% if current_user.has_role?("admin") %>
									<ul>
										<li><%= link_to 'My Account', :controller => 'my', :action => 'show' %></li>
										<li><%= link_to 'Team Space', :controller => 'home', :action => 'team' %></li>
										<li><%= link_to 'Groups', :controller => 'groups', :action => 'index' %></li>
										<li><%= link_to 'Users', :controller => 'users', :action => 'index' %></li>
										<li><%= link_to 'News and Alerts', :controller => 'posts', :action => 'index' %></li>
										<li><%= link_to 'Surveys', :controller => 'surveys', :action => 'index' %></li>
										<li><%= link_to '360 Feedback', :controller => 'threesixties', :action => 'index' %></li>
										<li><%= link_to 'Files', :controller => 'documents', :action => 'index' %></li>
										<li><%= link_to 'Forums', :controller => 'forums', :action => 'index' %></li>
									</ul>
									<% else %>
									<ul>
										<li><%= link_to 'My Account', :controller => 'my', :action => 'show' %></li>
										<li><%= link_to 'Team Space', :controller => 'home', :action => 'team' %></li>
										<li><%= link_to 'Surveys', :controller => 'surveys', :action => 'index' %></li>
										<li><%= link_to '360 Feedback', :controller => 'threesixties', :action => 'index' %></li>
										<li><%= link_to 'Files', :controller => 'documents', :action => 'index' %></li>
										<li><%= link_to 'Forums', :controller => 'forums', :action => 'index' %></li>
									</ul>
									<% end %>
							</li>
							<li>
								<h2>Signed In</h2>
								<ul>
									<li>
										<h3>Current User: </h3>
										<%= render :text => current_user.login %>
									</li>
									<li>
										<%= link_to 'Logout', logout_path %>
									</li>
								</ul>
							</li>
						</ul>
					<% else %>
						<h2>Log In</h2>
						<% form_tag session_path do-%>
							<p><%= label_tag 'login' %><br />
							<%= text_field_tag 'login', @login %></p>

							<p><%= label_tag 'password' %><br/>
							<%= password_field_tag 'password', @password %></p>

							<!-- Uncomment this if you want this functionality
							<p><%= label_tag 'remember_me', 'Remember me' %>
							<%= check_box_tag 'remember_me', '1', @remember_me %></p>
							-->
					
							<p><%= submit_tag 'Log in' %></p>
						<% end -%>
					<% end %>
		</div>
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end page -->
</div>
<div id="footer">
	
</div>
</body>
</html>
