<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%= stylesheet_link_tag "default" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Private Course Site</title>
<meta name="keywords" content="" />
<meta name="Everyday Series" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#"><span>The Mine:</span></a>Private</h1>
	</div>
</div>

<!-- end header -->
<div id="wrapper">
	<!-- start page -->
	<div id="page">
	<div id="page-bg">
		<div id="sidebar1" class="sidebar">
			<ul>
				<li>
					<h2>Public Links</h2>
					<ul>
						<li><a href="#"><%= link_to "Home", "/" %></a></li>
						<li><%= link_to 'Course Calendar', :controller => 'home', :action => 'calendar' %></li>
						<li><%= link_to 'Course Syllabus', :controller => 'home', :action => 'syllabus' %></li>
					</ul>
				</li>
				<li>
					<h2>External Links</h2>
					<ul>
						<li><a href="#"><%= link_to "Professor's Website", "http://bus01.bus.iastate.edu/" %></a></li>
					</ul>
				</li>
				<li>
					<h2>News and Alerts</h2>
						<%= render :partial => "posts/sideposts", :collection => @posts %>					
				</li>
			</ul>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<!-- start sidebars -->
		<div id="sidebar2" class="sidebar">
			<ul>
				<li>
					<h2>Private Links</h2>
						<% if current_user.has_role?("admin") %>
						<ul>
							<li><%= link_to 'My Account', :controller => 'my', :action => 'show' %></li>
							<li><%= link_to 'Team Space', :controller => 'private', :action => 'admin' %></li>
							<li><%= link_to 'Groups', :controller => 'groups', :action => 'index' %></li>
							<li><%= link_to 'Users', :controller => 'users', :action => 'index' %></li>
							<li><%= link_to '360 Feedback', :controller => 'surveys', :action => 'index' %></li>
							<li><%= link_to 'Files', :controller => 'documents', :action => 'index' %></li>
							<li><%= link_to 'Edit Posts', :controller => 'posts', :action => 'index' %></li>
							<li><%= link_to 'Forums', :controller => 'forums', :action => 'index' %></li>
						</ul>
						<% else %>
						<ul>
							<li><%= link_to 'My Account', :controller => 'my', :action => 'show' %></li>
							<li><%= link_to 'Team Space', :controller => 'private', :action => 'group' %></li>
							<li><%= link_to '360 Feedback', :controller => 'surveys', :action => 'index' %></li>
							<li><%= link_to 'Files', :controller => 'documents', :action => 'index' %></li>
							<li><%= link_to 'Forums', :controller => 'forums', :action => 'index' %></li>
						</ul>
						<% end %>
				</li>
				<li>
					<h2>Signed In</h2>
					<ul>
						<li>
							<h3>Current User: </h3>
							<%= render :text => current_user.login %>
						</li>
						<li>
							<%= link_to 'Logout', logout_path %>
						</li>
					</ul>
				</li>
				<li>
					<h2>Calendar</h2>
					<p><iframe src="http://www.google.com/calendar/embed?" style="border: 0" width="215" height="280" frameborder="0" scrolling="no"></iframe></p>
				</li>
			</ul>
		</div>
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end page -->
</div>
<div id="footer">

</div>
</body>
</html>
